body{
	width: 100%;
}
#wrap{
	min-width: 1200px;
	width: 90%;
	margin: auto;
}

#right{
	float: right;
	display: inline-block;
	width: 20%;
	height: 600px;
}

#left{
	display: inline-block;
	width: 75%;
	height: 600px;
}

#logo{
	margin-top: 50px;
	height: 50px;
}

#content{
	height: 500px;
}

#cameraPart, #canvasPart{
	display: inline-block;
	width: 40%;
	margin: 8% 4.5%;
	float: left;
}

/*cameraPart*/
#video{
	width: 100%;
	border: 1px solid gray;
}

#cameraBtn{
	margin-top: 10px;
	height: 35px;
}

#cameraBtn button{
	width: 28%;
	margin: .5% 2.6%;
}

#cameraOff, #slidShow{
	float: left;
}

#cameraTakePicture, #flipBook{
	float: right;
}

/*canvasPart*/
#canvas{
	width: 100%;
	border: 1px solid gray;
}

#canvasBtn{
	margin: 10px 0px;
	height: 35px;
}

#canvasBtn button{
	width: 25%;
	margin: .5% 3.5%;
}

button, input, select{
	border: 1px solid gray;
	border-radius: 5px;
	background-color: white;
	height: 30px;
}

input[type="text"]{
	width: 41%;
	font-size: 12px;
	padding-left: 4.7px;
}

input[type="color"]{
	position: relative;
	height: 26px;
	top: 4px;
}

#textBox{
	margin-top: 30px;
}
/*right bar*/
#photoList{
	height: 550px;
	border: 1px solid gray;
	overflow-y: scroll;
}
#barBtn{
	margin-top: 10px;
	height: 35px;
}
#barBtn button{
	width: 40%;
	margin: .5% 0%;
}
#barBtn input{
	width: 21px;
	padding: 0px;
	height: 28px;
	text-align: center;
}

#photoList div{
	position: relative;
}
/*effect*/
.none{
	visibility: hidden;
}
.miniPhoto{
	width: 100%;
	margin-bottom: 3px;
}

input[type="checkbox"]{
	position: absolute;
	margin: -5px 0px;
}

span{
	position: absolute;
	right: 0px;
	margin: -8px 5px;
	color: red;
	font-size: 30px;
}

span:hover{
	cursor: pointer;
}