body{
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url('./images/camera.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#wrap{
	min-width: 1200px;
	width: 90%;
	margin: auto;
}

#right{
	float: right;
	display: inline-block;
	width: 20%;
	height: 600px;
}

#left{
	display: inline-block;
	width: 75%;
	height: 600px;
}

#logo{
	margin-top: 50px;
	height: 50px;
}

#content{
	height: 500px;
}

#cameraPart, #canvasPart{
	display: inline-block;
	width: 40%;
	margin: 8% 4.5%;
	float: left;
}

h1{
	text-align: center;
	font-size: 37px;
	font-family: cursive;
	color: rgb(53, 53, 53);
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid black;
}

h2{
	color: white;
	font-size: 40px;
	z-index: 20;
	position: relative;
	top: 150px;
	font-family: monospace;
}

#blur{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.89);
	position: fixed;
	z-index: 3;
	text-align: center;
	top: 0px;
	left: 0px;
	min-width: 710px;
	min-height: 580px;
}

#saveSS{
	background: black;
	color: white;
	margin-left: 20px;
}

/*cameraPart*/
#video{
	width: 100%;
	border: 1px solid gray;
}

#cameraBtn{
	margin-top: 10px;
	height: 35px;
}

#cameraBtn button{
	width: 28%;
	margin: .5% 2.6%;
}

#cameraOff, #slidShow{
	float: left;
}

#cameraTakePicture, #flipBook{
	float: right;
}

/*canvasPart*/
#canvas{
	width: 100%;
	height: 272px;
	border: 1px solid gray;
}

#canvasBtn{
	margin: 10px 0px;
	height: 35px;
}

#canvasBtn button{
	width: 25%;
	margin: .5% 3.5%;
}

input[type=color]{
	border: 1px solid gray;
	border-radius: 5px;
	background-color: white;
	height: 30px;
}

button, input, select{
	border: 1px solid gray;
	border-radius: 5px;
	background-color: black;
	color: white;
	height: 30px;
}

input[type="text"]{
	width: 41%;
	font-size: 12px;
	padding-left: 4.7px;
}

input[type="color"]{
	position: relative;
	height: 26px;
	top: 4px;
	width: 30px;
	margin-left: 12px;
}

#textBox{
	margin-top: 30px;
}

/*right bar*/
#photoList{
	height: 550px;
	border: 1px solid gray;
	overflow-y: scroll;
}
#barBtn{
	margin-top: 10px;
	height: 35px;
}
#barBtn button{
	width: 40%;
	margin: .5% 0%;
}
#barBtn input{
	width: 21px;
	padding: 0px;
	height: 28px;
	text-align: center;
}

#photoList div{
	position: relative;
}

/*effect*/
.none{
	visibility: hidden;
}
.miniPhoto{
	width: 100%;
	margin-bottom: 3px;
}

input[type="checkbox"]{
	position: absolute;
	margin: -5px 0px;
	width: 20px;
}

span{
	position: absolute;
	right: 0px;
	margin: -8px 5px;
	color: red;
	font-size: 30px;
}

span:hover{
	cursor: pointer;
}

h3{
	margin-top: 100px;
	position: fixed;
	color: white;
	font-size: 23px;
	left: 200px;
}

/*flip*/
#album, #show{
	width: 360px;
	height: 270px;
	margin: 0 auto;
}

.imgContainer {
	width: 100%;
	height: 100%;
	position: absolute;
}

.forFlip{
	z-index: 20;
	width: 100%;
	height: 100%;
}

.nextCur{
	position: absolute;
	overflow: hidden;
	width: 50%;
	height: 360px;
}

.nextRotateBefore{
	position: absolute;
	overflow: hidden;
	width: 50%;
	height: 360px;
	left: 50%;
	z-index: 20;

	-webkit-transition: transform 500ms ease-in;
	-moz-transition: transform 500ms ease-in;
	transition: transform 500ms ease-in;

	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	transform-origin: left center;
}

.nextRotateBefore .imgContainer,
.beforeCur .imgContainer,
.beforeNextBefore .imgContainer{
	left: -100%;
}

.nextRotateEnd{
	-webkit-transform: perspective(850) rotateY(-90deg);
	-moz-transform: perspective(850) rotateY(-90deg);
	transform: perspective(850) rotateY(-90deg);
}

.nextNextBefore{
	position: absolute;
	overflow: hidden;
	width: 50%;
	height: 360px;
	z-index: 30;

	-webkit-transition: transform 500ms ease-out;
	-moz-transition: transform 500ms ease-out;
	transition: transform 500ms ease-out;

	-webkit-transform: perspective(850) rotateY(90deg);
	-moz-transform: perspective(850) rotateY(90deg);
	transform: perspective(850) rotateY(90deg);

	-webkit-transform-origin: right center;
	-moz-transform-origin: right center;
	transform-origin: right center;
}

.nextNextEnd{
	-webkit-transform: perspective(0) rotateY(0deg);
	-moz-transform: perspective(0) rotateY(0deg);
	transform: perspective(0) rotateY(0deg);
}

.beforeCur{
	position: absolute;
	overflow: hidden;
	width: 50%;
	height: 360px;
	left: 50%;
}

.beforeRotateBefore{
	position: absolute;
	overflow: hidden;
	width: 50%;
	height: 360px;
	z-index: 20;

	-webkit-transition: transform 500ms ease-in;
	-moz-transition: transform 500ms ease-in;
	transition: transform 500ms ease-in;

	-webkit-transform-origin: right center;
	-moz-transform-origin: right center;
	transform-origin: right center;
}

.beforeRotateEnd{
	-webkit-transform: perspective(850) rotateY(90deg);
	-moz-transform: perspective(850) rotateY(90deg);
	transform: perspective(850) rotateY(90deg);
}

.beforeNextBefore{
	position: absolute;
	overflow: hidden;
	width: 50%;
	height: 360px;
	z-index: 30;

	-webkit-transition: transform 500ms ease-out;
	-moz-transition: transform 500ms ease-out;
	transition: transform 500ms ease-out;

	-webkit-transform: translateX(100%) perspective(850) rotateY(-90deg);
	-moz-transform: translateX(100%) perspective(850) rotateY(-90deg);
	transform: translateX(100%) perspective(850) rotateY(-90deg);

	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	transform-origin: left center;
}

.beforeNextEnd{
	-webkit-transform: translateX(100%) perspective(0) rotateY(0deg);
	-moz-transform: translateX(100%) perspective(0) rotateY(0deg);
	transform: translateX(100%) perspective(0) rotateY(0deg);
}